*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

.env
composer.lock
/writable/cache/*
!writable/cache/index.html
!writable/cache/.gitignore
/writable/debugbar/*
!writable/debugbar/.gitignore
/writable/logs/*
!writable/logs/index.html
!writable/logs/.gitignore
/writable/session/*
!writable/session/index.html
!writable/session/.gitignore
/writable/uploads/*
!writable/uploads/index.html
!writable/uploads/.gitignore
/packages/*